/*CSS!*/

/* Styles */
.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #071F32 ;
}
.navbar h1 {
  color: #3fad5d ;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3fad5d ;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 20% auto;
  display: flex; 
}

.timeline-item {
  padding: 10px 10px;
  position: relative;
  width: 100%;
  background: #F6F6F6;
  border-radius: 10px;
  border: 2px solid #071F32;
  margin-left: 1%;
}

.timeline-item:hover{
  background-color: #3fad5d  ;
}